<%= form_for(@mechanic) do |f| %>
  <% if @mechanic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mechanic.errors.count, "error") %> prohibited this mechanic from being saved:</h2>

      <ul>
      <% @mechanic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :mechanic_name %><br />
    <%= f.text_field :mechanic_name%>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number%>
  </div>

  <div class="field">
    <%= f.label :booking_id %><br />
    
    <%= f.text_field :booking_id%>
  </div>

  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
