<h1>Listing bookings</h1>

<table>
  <tr>
    <th>Date start</th>
    <th>Date end</th>
    <th>Payement count</th>
    <th>Mechanic</th>
    <th>Car</th>
    <th>Customer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.date_start %></td>
    <td><%= booking.date_end %></td>
    <td><%= booking.payement_count %></td>
    <td><%= booking.mechanic_id %></td>
    <td><%= booking.car_id %></td>
    <td><%= booking.customer.last_name %></td>
    <td><%= link_to 'Show', booking %></td>
    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    <td><%= link_to 'Destroy', booking, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @bookings %>
<br />

<%= link_to 'New Booking', new_booking_path %>
