<p id="notice"><%= notice %></p>

<p>
  <b>date start:</b>
  <%= @booking.date_start %>
</p>

<p>
  <b>date end:</b>
  <%= @booking.date_end  %>
</p>

<p>
  <b>payement count</b>
  <%= @booking.payement_count %>
</p>

<p>
  <b>Customer:</b>
  <%= @booking.customer.last_name %>
</p>

<p>
  <b>Mechanic:</b>
  <%= @booking.mechanics.find(@booking.mechanic_id).mechanic_name %>
</p>

<p>
  <b>Car:</b>
  <%= @booking.car.model.model_name %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
