<h1>Listing cars</h1>

<table>
  <tr>
    <th>Model</th>
    <th>Engine size</th>
    <th>Customer</th>
    <th>Details</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><%= car.model.model_name %></td>
    <td><%= car.engine_size %></td>
    <td><%= car.customer.last_name %></td>
    <td><%= car.details %></td>
    <td><%= link_to 'Show', car %></td>
    <td><%= link_to 'Edit', edit_car_path(car) %></td>
    <td><%= link_to 'Destroy', car, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @cars %>
<br />

<%= link_to 'New Car', new_car_path %>
