<p id="notice"><%= notice %></p>

<p>
  <b>Model:</b>
  <%= @car.model.model_name %>
</p>

<p>
  <b>Engine parameters:</b>
  <%= @car.engine_size %>
</p>

<p>
  <b>Owner:</b>
  <%= @car.customer.last_name %>
</p>

<p>
  <b>Details:</b>
  <%= @car.details %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
